
body { 
    /*padding-top: 130px; */
    /*padding-bottom: 150px;*/
    margin-bottom: 60px;
    /*padding-bottom: 70px;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}

ol, ul {
  list-style: none;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;

}


/*.demopadding {
  /*margin:6000px 100px 6000px 0 auto;*/
 /* margin-left: 430px auto;
  width:90px;
  text-align:center;
}*/
.icon {
  position:relative;
  /*text-align:center;*/
  display: inline-block;
  width:0px;
  height:0px;
  padding:20px;
  border-top-right-radius:  20px;
  border-top-left-radius:   20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:  20px; 
  -moz-border-radius:     20px 20px 20px 20px;
  -webkit-border-radius:    20px 20px 20px 20px;
  -khtml-border-radius:     20px 20px 20px 20px;  
  color:#FFFFFF;
}
.icon i {
  font-size:20px;
  position:absolute;
  left:11px;
  top:10px;
}
.icon.social {
  float:none;
  margin:7px 5px 0 7px;
  cursor:pointer;
  background:#6d6e71 ;
  color:#262626;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}
.icon.social:hover {
  background:#262626 ;
  color:#6d6e71;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter: drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -moz-filter:  drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -ms-filter:     drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -o-filter:    drop-shadow(0 1px 10px rgba(0,0,0,.8));
  filter:       drop-shadow(0 1px 10px rgba(0,0,0,.8));   
}
/*.icon.social.fb i {
  left:13px;
  top:10px;
}

.icon.social.in i {
  left:11px;
}
*/
.socialIcon{
  color: white;
}

.socialIcon:hover{
  color: white;
}